<h1 class="center">Welcome, Sign In</h1>
<div class="form-section">
    <div class="form-flex">
        <div class="form-img">
            <div class="img">
                <img src="../../assets/img-6.jpg" alt="">
            </div>
        </div>
        <form action=" " class="form">
            <div class="form-group">
                <input type="text" placeholder="Your Name"/>
            </div>
            <div class="form-group">
                <input type="text" placeholder="Your Username" />
            </div>
            <div class="form-group">
                <input type="email" placeholder="Your Email" />
            </div>
            <div class="form-group">
                <input type="password" placeholder="Enter Password" />
            </div>
            <div class="form-group">
                <input type="password" placeholder="Confirm Password" />
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn-submit" />
            </div>
        </form>
    </div>
</div>

