<div class="form-section">
    <h1>Welcome back, Login</h1>
    <div class="form-flex">
        <div class="form-img">
            <div class="img">
                
            </div>
        </div>
        <form action=" " class="form">
            <div class="form-group">
                <input type="text" placeholder="Your name">
            </div>
            <div class="form-group">
                <input type="text" placeholder="Enter password">
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn">
            </div>
        </form>
    </div>
</div>
