<h1>Welcome back, Login</h1>
<div class="form-section">
    <div class="form-flex">
        <div class="form-img">
            <div class="img">
                <img src="../../assets/img-4.jpg" alt="">
            </div>
        </div>
        <form action=" " class="form">
            <div class="form-group">
                <input type="text" placeholder="Your name">
            </div>
            <div class="form-group">
                <input type="text" placeholder="Enter password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn-submit">Login</button>
            </div>
        </form>
    </div>
</div>
