$primary-color: #BC19B6;
$secondary-color: #000000;
$light-gray: #A9A9A9;
$grayish-black: #F4F4F4;
$light-pink: hsla(302, 97%, 37%, 0.43);

$font-primary: 'Darker Grotesque';
$font-secondary: 'Inter';


