<!-- Hero section starts here -->
<div class="hero-section">
    <div class="container">
        <div class="container-row">
            <h1>Flying has never been made easy</h1>
            <p>Book now, stay calm and enjoy your flight. </p>
        </div>
    </div>
</div>
<!-- Hero section ends here -->

<!-- Flight Tickets starts here -->
<section class="week-recent">
    <div class="wrapper">
        <h2>Flights you Can Book</h2>
        <div class="row">
            <div class="card">
                <div class="card-img">
                    <img src="../../assets/img-3.jpg" alt="">
                </div>
                <div class="card-desc">
                    <h4>Douala-Yaounde</h4>
                    <p>Depature: 10:30am</p>
                    <h6 class="badge">Premium</h6>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="../../assets/img-5.jpg" alt="">
                </div>
                <div class="card-desc">
                    <h4>Douala-Yaounde</h4>
                    <p>Depature: 10:30am</p>
                    <h6 class="badge">Premium</h6>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="../../assets/img-6.jpg" alt="">
                </div>
                <div class="card-desc">
                    <h4>Douala-Yaounde</h4>
                    <p>Depature: 10:30am</p>
                    <h6 class="badge">Premium</h6>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="../../assets/img-8.jpg" alt="">
                </div>
                <div class="card-desc">
                    <h4>Douala-Yaounde</h4>
                    <p>Depature: 10:30am</p>
                    <h6 class="badge">Premium</h6>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="../../assets/img-9.jpg" alt="">
                </div>
                <div class="card-desc">
                    <h4>Douala-Yaounde</h4>
                    <p>Depature: 10:30am</p>
                    <h6 class="badge">Premium</h6>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="../../assets/img-5.jpg" alt="">
                </div>
                <div class="card-desc">
                    <h4>Douala-Yaounde</h4>
                    <p>Depature: 10:30am</p>
                    <h6 class="badge">Premium</h6>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="../../assets/img-2.jpg" alt="">
                </div>
                <div class="card-desc">
                    <h4>Douala-Yaounde</h4>
                    <p>Depature: 10:30am</p>
                    <h6 class="badge">Premium</h6>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="../../assets/img-6.jpg" alt="">
                </div>
                <div class="card-desc">
                    <h4>Douala-Yaounde</h4>
                    <p>Depature: 10:30am</p>
                    <h6 class="badge">Premium</h6>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="../../assets/img-7.jpg" alt="">
                </div>
                <div class="card-desc">
                    <h4>Douala-Yaounde</h4>
                    <p>Depature: 10:30am</p>
                    <h6 class="badge">Premium</h6>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Flight Tickets ends here -->


