@import url('../utils/_index.scss');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: $font-primary;
}

body {
    font-size: 16px;
    color: #2ca2df;
    font-family: $font-secondary;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a, a:visited, a:active {
    text-decoration: none;
    color: $primary-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-primary;
}